<h1>Editing restaurant</h1>


  <%= render 'form' %>


<div class="form-group">
<%= link_to 'Show', @restaurant, class:"btn btn-default" %> |
<%= link_to 'Back', restaurants_path, class: "btn btn-default" %>
</div>